[build]
  base = "social-media"
  command = "npm install && npm run build"
  publish = "social-media/dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"